@font-face {

    font-family: "IcoFont";
    font-weight: normal;
    font-style: "Regular";
    src: url("../fonts/icofont.woff2") format("woff2"),
        url("../fonts/icofont.woff") format("woff");
}

[class^="icofont-"],
[class*=" icofont-"] {
    font-family: 'IcoFont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}


.icofont-dollar:before {
    content: "\e9d8";
}
.icofont-rupee:before {
    content: "\ea14";
}
.icofont-euro:before {
    content: "\e9e2";
}